.page {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  margin-top: 10%;
}
input {
  width: 40%;
  height: 30px;
  border-radius: 5px;
}
button {
  width: 20%;
  height: 40px;
  border: 2px solid #eee;
  border-radius: 5px;
  color: lightcoral;
  background-color: gray;
  font-size: medium;
  cursor: pointer;
}
